<ul class="space-y-4">
  <% questions.each do |question| %>
    <li class="bg-white p-4 rounded shadow hover:bg-stone-50">
      <details class="text-base">
        <summary class="relative font-light text-md cursor-pointer flex items-center">
          <%= render partial: 'question_status_icon', locals: {question: question} %>
          <%= question.question.truncate(150) %>
          <span class="text-stone-400 text-xs ml-2"><%= time_ago_in_words(question.created_at) %> ago</span>
        </summary>
        <p class="mt-3">
          <%= link_to question.question, question, class: "text-sky-600 mt-2 text-xl font-bold hover:underline", "data-turbo-frame": "_top" %>
        </p>
        <p class="mt-2">
          <% cache question do %>
            <%= render partial: 'shared/markdown', locals: {text: question.answer } %>
          <% end %>
        </p>
      </details>
    </li>
  <% end %>
</ul>
