<ul class="space-y-4">
  <% questions.each do |question| %>
    <li class="bg-white p-6 rounded-lg border border-stone-300 hover:shadow-lg hover:bg-stone-50 transition-all">
      <details class="text-base">
        <summary class="flex justify-between items-center cursor-pointer font-light">
          <div class="flex items-center space-x-2">
            <%= render partial: 'question_status_icon', locals: {question: question} %>
            <span class="text-lg font-medium text-stone-800"><%= question.question.truncate(80) %></span>
            <span class="text-xs text-stone-500"><%= time_ago_in_words(question.created_at) %> ago</span>
          </div>
          <div class="text-sky-600 text-sm flex items-center space-x-1">
            <% if question.votes_for.size > 0 %>
              <span class="flex items-center">
                <%= question.votes_for.size %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 ml-1">
                  <path d="M2.09 15a1 1 0 0 0 1-1V8a1 1 0 1 0-2 0v6a1 1 0 0 0 1 1ZM5.765 13H4.09V8c.663 0 1.218-.466 1.556-1.037a4.02 4.02 0 0 1 1.358-1.377c.478-.292.907-.706.989-1.26V4.32a9.03 9.03 0 0 0 0-2.642c-.028-.194.048-.394.224-.479A2 2 0 0 1 11.09 3c0 .812-.08 1.605-.235 2.371a.521.521 0 0 0 .502.629h1.733c1.104 0 2.01.898 1.901 1.997a19.831 19.831 0 0 1-1.081 4.788c-.27.747-.998 1.215-1.793 1.215H9.414c-.215 0-.428-.035-.632-.103l-2.384-.794A2.002 2.002 0 0 0 5.765 13Z" />
                </svg>
              </span>
            <% end %>
          </div>
        </summary>
        <div class="mt-4">
          <p class="text-sky-600 text-lg font-semibold hover:underline">
            <%= link_to question.question, question, class: "text-sky-600", "data-turbo-frame": "_top" %>
          </p>
          <div class="mt-2 text-stone-600 text-sm">
            <% cache question do %>
              <%= render partial: 'shared/markdown', locals: {text: question.answer } %>
            <% end %>
          </div>
        </div>
      </details>
    </li>
  <% end %>
</ul>
