<div id="<%= dom_id question %>" >
  <div class="border rounded-lg bg-white">
    <h1 class="text-3xl font-light p-4 rounded-t bg-sky-800 text-sky-100"><%= question.question %></h1>
    <div class="bg-stone-100">
      <p class="text-xs text-stone-500 px-4 py-2">Asked <span class="font-bold">
          <%= time_ago_in_words(question.created_at) %></span> ago by <span class="font-bold"><%= question.user.email %> </span>
        <div>
          <%= link_to "Source: " + question.source_url, question.source_url , class: "text-xs text-sky-500 px-4" unless question.source_url.blank?%>
        </div>
      </p>
      <% if @libraries.present? %>
        <p class="text-xs text-stone-500 px-4 py-2 ">Libraries Included:
          <% @libraries.each do |library| %>
            <span class=""><%= link_to library.name, library , class: "text-xs text-white bg-sky-700 mx-1 p-1 border border-stone-400 rounded-lg text-center hover:bg-sky-900", target: "_new" %>
            </span>
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="markdown-content font-light p-4 bg-white border-t border-stone-700">
      <% if @question.pending? || @question.generating? %>
        <div class="animate-pulse flex space-x-4">
          <div class="flex-1 space-y-2">
            <div class="text-2xl font-mono">
              <%= render partial: 'question_status_icon', locals: {question: @question} %>
              <%= @question.status%>
            </div>
            <div class="space-y-3">
              <div class="h-2 bg-slate-200 rounded"></div>
              <div class="h-2 bg-slate-200 rounded"></div>
              <div class="h-2 bg-slate-200 rounded"></div>
            </div>
          </div>
        </div>
      <% else %>
        <% if @question.able_to_answer %> <!-- No need to ask feedback if we couldn't answer -->
          <div class="pb-2 text-stone-500 text-sm border-stone-300">Is this answer helpful?</div>
          <% if (current_user.voted_for? @question) %>
            <a href="<%= "/questions/" + @question.id.to_s +  "?clear_helpful=1" %>">
              <button class="border border-sky-800 bg-white p-2 text-sky-500 rounded-md mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" data-slot="icon" class="w-6 h-6">
                  <path d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
                </svg>
              </button>
            </a>
            <div class="mb-2 text-md text-stone-900 bg-sky-200 border-sky-500 border font-bold p-2 rounded">Thank you for your feedback!!  You are helping us provide high quality answers.  It also makes us happy to hear we could help you.</div>
          <% else %>
            <a href="<%= "/questions/" + @question.id.to_s +  "?mark_helpful=1" %>">
              <button class="border border-sky-800 bg-white p-2 text-sky-500 rounded-md mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                </svg>
              </button>
            </a>
          <% end %>
        <% end %>
        <% if @question.votes_for.up.size > 0 %>
          <div class="text-stone-900 text-xs font-italic"><%= @question.votes_for.up.by_type(User).voters.pluck(:email).join(",") %> found this helpful.</div>
        <% end %>
        <%= render_markdown(question.answer.gsub(/^\s*\n/, '')) unless question.answer.nil? %>
      <% end %>
    </div>
    <p class="bg-stone-200 text-stone-400 text-xs px-4 py-2 rounded-b">
      <% if question.generation_time %>
        Generation time <%= question.generation_time.truncate(3) || "..." %> seconds
      <% end %>
      <% if question.generated_at %>
        | Total time <%= (question.generated_at - question.created_at).truncate(3) || "..." %> seconds
      <% end %>
    </p>
  </div>
  <% if session[:debug] == "true" then %>
    <h1 class="text-3xl font-light py-4 text-stone-500">Prompt</h1>
    <div class="markdown-content leading-5">
      <div class="whitespace-pre-wrap break-words font-mono p-5 border border-sky-600 rounded-lg bg-stone-200">
        <%= question.prompt.gsub(/^\s*\n/, '') unless question.prompt.nil? %>
      </div>
    </div>
    <h1 class="text-3xl font-light py-4 text-stone-500">Raw Answer</h1>
    <div class="markdown-content leading-5">
      <div class="whitespace-pre-wrap break-words font-mono p-5 border border-sky-600 rounded-lg bg-stone-200">
        <%= question.answer %>
      </div>
    </div>
    <h1 class="text-3xl font-light py-4 text-stone-500">Slack Answer</h1>
    <div class="markdown-content leading-5">
      <div class="whitespace-pre-wrap break-words font-mono p-5 border border-sky-600 rounded-lg bg-stone-200">
        <%= question.slack_markdown_answer %>
      </div>
    </div>
  <% end %>
</div>
