<% content_for :title, "Questions" %>
<div class="">
  <div class="flex justify-between items-center">
    <%= render 'shared/page_header', title: 'Questions', subtitle: 'Answers generated from the documents.' %>
    <%= render partial: 'shared/button_group', locals: { buttons: { "Ask" => new_question_path } } %>
  </div>
  <div class="flex-grow flex items-center mt-3">
    <% action_path = questions_path %>
    <%= form_with(url: action_path, method: :get, local: true, class: "w-full flex") do %>
      <input type="text" name="contains" id="contains" placeholder="Search questions..." class="flex-grow rounded-lg p-2 border border-stone-300">
      <button type="submit" class="ml-2 rounded-lg p-2 bg-white text-sky-500 border-sky-500 border">Search</button>
    <% end %>
  </div>
  <%= paginate @questions %>
  <%= render 'question_list',  questions: @questions %>
</div>