<turbo-frame id="message-<%=message.id%>">
  <div id="<%= dom_id(message) %>" class="my-5 flex <%= message.user? ? 'justify-start' : 'justify-end' %>">
    <div class="w-3/4">
      <p class="text-xs text-gray-500 mb-1 <%= message.from == 'assistant' ? 'text-right' : '' %>">
        <% if message.from == 'user' %>
          <span class="font-semibold"><%= message.user.email %></span>
        <% elsif message.from == 'assistant' %>
          <span class="font-semibold"><%= message.chat.assistant.name %></span>
        <% else %>
          <span class="font-semibold"><%= message.from %></span>
        <% end %>
        | <%= message.created_at %>
      </p>
      <% if message.status === 'generating' %>
        <div class="flex justify-end text-2xl text-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 animate-pulse">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
          </svg>
        </div>
        <% if !message.user? %>
          <script>
            setTimeout(function() {
              const turboFrame = document.getElementById('message-<%=message.id%>');
              turboFrame.src = null;  // Clear the src attribute
              turboFrame.src = `<%= chat_messages_path(@chat, message) %>`;  // Set the new src to reload the frame
              console.log(turboFrame.src);
            }, 2000);  // Delay of 5000 milliseconds (5 seconds)
          </script>
        <% end %>
      <% else %>
        <div class="p-4 rounded-bl-2xl rounded-br-2xl <%= message.user? ? 'rounded-tr-2xl' : 'rounded-tl-2xl' %> <%= message.user? ? 'bg-white text-stone-600' : 'bg-sky-100 text-sky-800' %> border <%= message.user? ? 'border-stone-200' : 'border-sky-300' %> shadow-sm">
          <p class="mb-3">
            <% cache message do %>
              <%= message.content.present? && !message.user? ? render_markdown(message.content) : message.content %>
            <% end %>
            <% if session[:debug] == "true" && message.prompt.present? %>
              <textarea class="w-full rounded border bg-stone-100" rows=5><%= message.prompt %></textarea>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
