<%= form_with(model: assistant, class: "contents") do |form| %>
  <% if assistant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>
      <ul>
        <% assistant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "shared/form_section", title: "About" do %>
    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :status %>
      <%= form.select :status, Assistant.statuses.keys.map { |status| [status.humanize, status] }, {}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :user_id, 'Owner' %>
      <%= form.collection_select :user_id, User.all.order(email: :asc), :id, :email, {include_blank: 'Select a User'}, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"} %>
    </div>
    <div class="my-5">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>
  <%= render "shared/form_section", title: "Data Sources" do %>
    <div class="my-5">
      <%= form.label "A quip document url to retrieve and put in context" %>
      <%= form.text_field :quip_url, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label "Confluence Spaces Names (comma separated)" %>
      <p id="" class="text-gray-500 text-xs">Keywords will be extracted from the user request and used to search confluence.</p>
      <%= form.text_field :confluence_spaces, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label "Library Ids (comma separated)" %>
      <%= form.text_field :libraries, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label "Text to filter the list of documents before embedding search" %>
      <%= form.text_field :library_search_text, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label "Salesforce SOQL" %>
      <p id="" class="text-gray-500 text-xs">A SOQL statement to run on the connected Salesforce Org.  Check with admin to make sure your object is accessible.</p>
      <%= form.text_area :soql, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>
  <%= render "shared/form_section", title: "Prompts and Settings" do %>
    <div class="my-5">
      <%= form.label :input %>
      <p id="" class="text-gray-500 text-xs">Instructions to users on what type of questions this assistant can answer.</p>
      <%= form.text_area :input, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label "Instructions to LLM on how to understand the documents and respond" %>
      <%= form.text_area :instructions, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :output, "How you want to format the output" %>
      <%= form.text_area :output, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label :context, "Additional information which should be provided to LLM on every request from this assistant" %>
      <%= form.text_area :context, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>
  <%= render "shared/form_section", title: "Slack" do %>
    <div class="my-5">
      <%= form.label "Slack Channel Id" %>
      <p id="" class="text-gray-500 text-xs">All chats will be sent to this slack channel.  @mentions in the slack channel will come to this assistant.  Must be unique globally in fack.</p>
      <%= form.text_field :slack_channel_name, hint: "Slack Channel id", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.label "Slack Channel Name Starts With" %>
      <p id="" class="text-gray-500 text-xs">If an id is not provided, match a slack channel name which starts with this text.</p>
      <%= form.text_field :slack_channel_name_starts_with, hint: "Slack Channel id", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>
  <%= render "shared/form_section", title: "Document Creation (Optional)" do %>
    <div class="my-5">
      <%= form.label :library_id, 'Library' %>
      <p id="" class="text-gray-500 text-xs">Documents created from "Remember This" will go to this library</p>
      <%= form.collection_select :library_id, Library.all.order(name: :asc), :id, :name, {include_blank: 'Select a Library'}, {class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"} %>
    </div>
  <% end %>
  <div class="inline my-3">
    <%= form.submit "Save", class: "rounded-lg py-3 px-5 bg-sky-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
