<%= render 'shared/page_header', title: 'Import Assistants', subtitle: 'Paste the JSON copied from another Assistant.' %>
<%= form_tag assistants_path, method: :post, class: "contents" do %>
  <div class="my-5">
    <%= label_tag :json %>
    <%= text_area_tag :json, nil, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= submit_tag "Import", class: "rounded-lg py-3 px-5 bg-sky-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
