<div class="w-full">
  <% content_for :title, "Assistants" %>
  <div class="flex justify-between items-center">
    <%= render 'shared/page_header', title: 'Assistants', subtitle: 'Assistants have special instructions and context to answer specific problems better than general Q/A.  Click "Chat" to begin!' %>
    <% if policy(Assistant.new).edit? %>
      <%= link_to "New +", new_assistant_path, class: "rounded-lg py-3 px-5 bg-sky-900 text-white block font-medium" %>
    <% end %>
  </div>
  <div id="assistants" class="mt-5 space-y-4">
    <% @assistants.each do |assistant| %>
      <div class="flex justify-between items-center bg-white rounded-lg shadow-lg p-4 border-stone-200 border">
        <div class="w-5/6">
          <h2 class="text-xl flex items-center ">
            <%= link_to assistant.name, assistant, class: "text-sky-500 hover:underline" %>
            <%= render partial: 'assistant_badge', locals: { assistant: assistant } %>
          </h2>
          <p class="text-stone-600 text-sm"><%= assistant.description %></p>
          <%= render partial: 'shared/meta_info', locals: { email: assistant.user ? assistant.user.email : "admin", created_at: assistant.created_at, updated_at: assistant.updated_at } %>
        </div>
        <div class="">
          <%= link_to new_assistant_chat_path(assistant_id: assistant.id), class: "rounded-lg py-2 px-4 bg-white text-sky-500 border border-sky-500 font-medium hover:bg-sky-100 flex items-center space-x-2" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>
            <span>Chat</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>