<div class="w-full">
  <% content_for :title, "Assistants" %>
  <div class="flex justify-between items-center">
    <%= render 'shared/page_header', title: 'Assistants', subtitle: 'Assistants have special instructions and context to answer specific problems better than general Q/A.  Click "Chat" to begin!' %>
    <% if policy(Assistant.new).edit? %>
      <%= link_to "New +", new_assistant_path, class: "rounded-lg py-3 px-5 bg-sky-900 text-white block font-medium" %>
    <% end %>
  </div>
  <div id="assistants" class="mt-5 space-y-4">
    <% @assistants.each do |assistant| %>
      <div class="flex justify-between items-center bg-white rounded-lg shadow-lg p-4">
        <div class="w-5/6">
          <h2 class="font-bold text-xl mb-2 flex items-center ">
            <%= link_to assistant.name, assistant, class: "text-sky-500 hover:underline ml-1" %>
            <%= render partial: 'assistant_badge', locals: { assistant: assistant } %>
          </h2>
          <p class="text-gray-500 text-sm"><%= assistant.description %></p>
        </div>
        <div class="">
          <%= link_to "Start Chat", new_assistant_chat_path(assistant_id: assistant.id), class: "rounded-lg py-2 px-4 bg-white text-sky-500 border border-sky-500 font-medium hover:bg-sky-100" %>
        </div>
      </div>
    <% end %>
  </div>
</div>