<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Assistants" %>
  <div class="flex justify-between items-center">
    <div>
      <h1 class="font-bold text-4xl">Assistants</h1>
      <p class="text-gray-600 mt-2 text-sm">Assistants have special instructions and context to answer specific problems better than general Q/A.  Click "Chat" to begin!</p> <!-- Tagline description -->
    </div>
    <%= link_to "New +", new_assistant_path, class: "rounded-lg py-3 px-5 bg-sky-600 text-white block font-medium" %>
  </div>
  <div id="assistants" class="mt-5 space-y-4">
    <% @assistants.each do |assistant| %>
      <div class="flex justify-between items-center bg-white rounded-lg shadow-lg p-4">
        <div class="w-5/6">
          <h2 class="font-bold text-xl mb-2">
            <%= link_to assistant.name, assistant, class: "text-sky-600 hover:underline" %>
          </h2>
          <p class="text-gray-700"><%= assistant.user_prompt %></p>
        </div>
        <div class="">
          <%= link_to "Chat", new_assistant_chat_path(assistant_id: assistant.id), class: "rounded-lg py-2 px-4 bg-sky-500 text-white font-medium" %>
        </div>
      </div>
    <% end %>
  </div>
</div>