<div class="w-full">
  <!-- Breadcrumbs -->
  <nav class="mb-4">
    <ul class="flex space-x-2 text-gray-600">
      <li>
        <%= link_to "Assistants", assistants_path, class: "text-sky-500 hover:text-sky-800" %>
      </li>
      <li>/</li>
      <li>
        <%= link_to @assistant.name, assistant_path(@assistant), class: "text-sky-500 hover:text-sky-800" %>
      </li>
    </ul>
  </nav>
  <h2 class="text-3xl font-bold mb-4">
    <%= @assistant.name %>
  </h2>
  <div class="">
    <%= link_to "New chat", new_assistant_chat_path(@assistant), class: "mt-2 rounded-lg py-3 px-5 bg-sky-500 inline-block font-medium text-white" %>
    <%= link_to "Edit", edit_assistant_path(@assistant), class: "mt-2 rounded-lg py-3 px-5 bg-gray-300 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete", @assistant, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-300 font-medium" %>
    </div>
    <%= render @assistant %>
  </div>
</div>