<div class="w-full">
  <% content_for :title, @assistant.name %>
  <%= render partial: 'shared/breadcrumb', locals: { breadcrumbs: [['Home', root_path], ['Assistants', assistants_path], [@assistant.name, assistant_path(@assistant)]] } %>
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-3xl font-bold flex items-center">
        <%= @assistant.name %>
        <span class="ml-2 inline-flex"> <%= render partial: 'assistant_badge', locals: { assistant: @assistant } %></span>
      </h2>
      <%= render partial: 'shared/meta_info', locals: { email: @assistant.user ? @assistant.user.email : "admin", created_at: @assistant.created_at, updated_at: @assistant.updated_at } %>
    </div>
    <div class="flex justify-between items-center">
      <% if policy(@assistant).edit? %>
        <% buttons = { "Edit" => edit_assistant_path(@assistant), "Clone" => clone_assistant_path(@assistant), "Details" => "#" } %>
        <% if @assistant.slack_channel_name.present? %>
          <% buttons["Slack"] = "#{ENV['SLACK_BASE_URL']}/archives/#{@assistant.slack_channel_name}" %>
        <% end %>
        <%= render partial: 'shared/button_group', locals: { buttons: buttons } %>
      <% end %>
    </div>
  </div>
  <div class="mx-auto w-full">
    <div class="">
      <%= render "chats/form", chat: @chat, assistant: @chat.assistant %>
    </div>
  </div>
  <div>
    <h1 class="text-stone-700 font-light text-3xl mt-6">Recent Chats</h1>
    <%= render "shared/chat_list", chats: @assistant.chats.limit(10).order(created_at: :desc) %>
  </div>
  <div class="mt-4">
    <%= link_to 'View all chats for ' + @assistant.name, assistant_chats_path(@assistant), class:"border border-stone-300 p-3 text-sm text-sky-500 rounded-md hover:bg-stone-100" %>
  </div>
</div>
<div id="details-modal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
  <div class="bg-white rounded-lg shadow-lg w-2/3 max-h-[90vh] flex flex-col relative">
    <div class="absolute top-0 right-0 p-4">
      <button id="close-modal" class="text-gray-700 text-3xl">&times;</button>
    </div>
    <div class="px-6 py-10 overflow-y-auto max-h-[85vh]">
      <%= render @assistant %>
    </div>
  </div>
</div>
<script>
  document.querySelector('a[href="#"]').addEventListener("click", function(e) {
    e.preventDefault();
    document.getElementById("details-modal").classList.remove("hidden");
  });
  document.getElementById("close-modal").addEventListener("click", function() {
    document.getElementById("details-modal").classList.add("hidden");
  });
</script>