<div class="w-full">
  <% content_for :title, @assistant.name %>
  <!-- Breadcrumbs -->
  <nav class="mb-4">
    <ul class="flex space-x-2 text-gray-600">
      <li>
        <%= link_to "Assistants", assistants_path, class: "text-sky-500 hover:text-sky-800" %>
      </li>
      <li>/</li>
      <li>
        <%= link_to @assistant.name, assistant_path(@assistant), class: "text-sky-500 hover:text-sky-800" %>
      </li>
    </ul>
  </nav>
  <div class="flex justify-between items-center">
    <h2 class="text-3xl font-bold mb-4 flex items-center">
      <%= @assistant.name %>
      <span class="ml-2 inline-flex"> <%= render partial: 'assistant_badge', locals: { assistant: @assistant } %></span>
    </h2>
    <div>
      <%= link_to new_assistant_chat_path(@assistant), class: "rounded-lg py-3 px-5 bg-sky-500 inline-flex items-center font-medium text-white" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
        </svg>
        Chat with <%= @assistant.name %>
      <% end %>
    </div>
  </div>
  <div class="flex justify-start items-center space-x-2">
    <% if policy(@assistant).edit? %>
      <%= link_to "Edit", edit_assistant_path(@assistant), class: "mt-2 rounded-lg py-3 px-5 bg-gray-300 font-medium inline-block" %>
      <%= button_to "Delete", @assistant, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-300 font-medium inline-block" %>
    <% end %>
  </div>
  <%= render @assistant %>
</div>