<div id="<%= dom_id(api_token) %>">
  <h1 class="text-2xl font-light my-3"><%= api_token.name %></h1>
  <% if policy(api_token).destroy? %>
    <%= button_to "Delete", api_token_path(api_token), method: :delete, data: { confirm: 'Are you sure?' }, class: "rounded-lg py-1 px-3 bg-gray-200 hover:bg-gray-300 text-red-500 font-medium" %>
  <% end %>
  <% if policy(api_token).edit? %>
    <%= link_to "Edit", edit_api_token_path(api_token), class: "rounded-lg ml-2 py-1 px-3 bg-gray-200 hover:bg-gray-300 font-medium" %>
  <% end %>
  <%= render 'shared/labelled_field', label: "Created " do %>
    <%= api_token.created_at %>
  <% end %>
  <%= render 'shared/labelled_field', label: "User " do %>
    <%= api_token.user.email %>
  <% end %>
  <%= render 'shared/labelled_field', label: "Last used " do %>
    <%= api_token.last_used %>
  <% end %>
  <%= render 'shared/labelled_field', label: "Token " do %>
    <div class="font-mono">
      <% if @show_token %>
        <%= api_token.token + ""  %>
        <button onclick="navigator.clipboard.writeText('<%= api_token.token %>')" class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-1 px-2 rounded">
          Copy
        </button>
        <div class="text-xs text-stone-500">Copy this token. It is shown only once.</div>
      <% else %>
        <%= "..." + api_token.token.last(4) %>
      <% end %>
    </div>
  <% end %>
</div>
