<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center mb-4">
    <h1 class="font-bold text-3xl text-sky-800">API Tokens</h1>
    <%= link_to "New", new_api_token_path, class: "rounded-lg p-2 bg-sky-600 text-white block font-light" %>
  </div>
  <ul id="api_tokens" class="min-w-full list-none p-0">
    <li class="flex justify-between font-light text-xs text-stone-800 bg-stone-200 py-2 rounded-t-lg">
      <div class="w-1/6 px-2">
        NAME
      </div>
      <div class="w-1/6 px-2">
        CREATED
      </div>
      <div class="w-1/6 px-2">
        LAST USED
      </div>
      <div class="w-1/6 px-2">
        TOKEN
      </div>
      <div class="w-1/6 px-2">
        ACTIONS
      </div>
    </li>
    <% @api_tokens.each_with_index do |api_token, index| %>
      <li class="<%= 'border-t border-stone-300' unless index == 0 %> flex justify-between py-2 text-sm hover:bg-stone-100 <%= 'rounded-b-lg' if index == @api_tokens.length - 1 %>">
        <div class="w-1/6 px-2 font-bold">
          <%= api_token.name %>
        </div>
        <div class="w-1/6 px-2">
          <%= time_ago_in_words(api_token.created_at) %> ago
          <span class="text-stone-500 text-xs">by <%= api_token.user.email %></span>
        </div>
        <div class="w-1/6 px-2 <%= 'font-bold text-green-500' if api_token.last_used && api_token.last_used > 7.days.ago %>">
          <% if api_token.last_used %>
            <%= time_ago_in_words(api_token.last_used) %> ago
          <% else %>
            Never used
          <% end %>
        </div>
        <div class="w-1/6 px-2 font-mono">
          ...<%= api_token.token.last(4) %>
        </div>
        <div class="w-1/6 px-2 flex items-center">
          <%= button_to "Delete", api_token_path(api_token), method: :delete, class: "rounded-lg py-1 px-3 bg-gray-200 hover:bg-gray-300 text-red-500 font-medium" %>
          <%= link_to "Edit", edit_api_token_path(api_token), class: "rounded-lg ml-2 py-1 px-3 bg-gray-200 hover:bg-gray-300 font-medium" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
