<div class="w-full">
  <% content_for :title, "API Tokens" %>
  <div class="flex justify-between items-center mb-2">
    <%= render 'shared/page_header', title: 'API Tokens', subtitle: 'Connect other apps with the API' %>
    <% if policy(ApiToken.new).create? %>
      <%= render partial: 'shared/button_group', locals: { buttons: { "New" => new_api_token_path } } %>
    <% end %>
  </div>
  <ul id="api_tokens" class="min-w-full list-none p-0">
    <li class="font-bold grid grid-cols-1 sm:grid-cols-4 text-xs text-stone-800 bg-stone-200 py-2 rounded-t-lg">
      <!-- Use grid-cols-1 for mobile and sm:grid-cols-5 for small screens and up -->
      <div class="p-2">
        NAME
      </div>
      <div class="p-2">
        USER
      </div>
      <div class="p-2">
        LAST USED
      </div>
      <div class="p-2">
        TOKEN
      </div>
    </li>
    <% @api_tokens.each_with_index do |api_token, index| %>
      <li class="<%= 'border-t border-stone-300' unless index == 0 %> font-light grid grid-cols-1 sm:grid-cols-4 justify-between py-2 text-sm bg-white hover:bg-stone-100 <%= 'rounded-b-lg' if index == @api_tokens.length - 1 %>">
        <!-- Adjustments here similar to the header row -->
        <div class="p-2">
          <%= link_to api_token.name, api_token_path(api_token), class: "text-sky-600 font-light" %>
        </div>
        <div class="p-2">
          <span class="text-stone-500 text-sm"><%= api_token.user.email %></span>
        </div>
        <div class="p-2 <%= 'font-bold text-green-500' if api_token.last_used && api_token.last_used > 7.days.ago %>">
          <% if api_token.last_used %>
            <%= time_ago_in_words(api_token.last_used) %> ago
          <% else %>
            Never used
          <% end %>
        </div>
        <div class="p-2 font-mono">
          ...<%= api_token.token.last(4) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
