<div id="<%= dom_id user %>">
  <h1 class="text-3xl font-semibold text-stone-900">      <%= user.email %>
  </h1>
  <div class="text-sm">Last Login: <span class="font-bold"><%= user.last_login %></span></div>
  <p class="my-5">
    <strong class="block font-medium mb-1">Admin?</strong>
    <input type="checkbox" disabled <%= "checked" if user.admin %> />
  </p>
  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this user', edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
