<h1 class="font-bold text-3xl text-sky-800">New Assistant User</h1>
<%= form_with(model: [@assistant, @assistant_user], class: "contents") do |form| %>
  <% if @assistant_user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@assistant_user.errors.count, "error") %> prohibited this assistant_user from being saved:</h2>
      <ul>
        <% @assistant_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- User ID selection -->
  <%= render 'shared/typeahead', 
      form: form, 
      field_name: :user_id, 
      search_url: search_users_path,
      label_text: 'Grant access to user',
      placeholder: 'Start typing to search for a user...',
      help_text: 'Type at least 2 characters to search for users by email',
      current_value: @assistant_user.user&.email %>
  <div class="inline">
    <%= form.submit "Save", class: "rounded-lg py-3 px-5 bg-sky-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
<%= link_to 'Cancel', assistant_path(@assistant), class: 'rounded-lg py-3 px-5 inline-block font-medium cursor-pointer hover:bg-gray-200' %>
