<div id="<%= dom_id library %>">
  <div class="flex justify-between my-3">
    <div class="w-1/2">
      <h2><%= link_to library.name, library, class: "hover:underline text-sky-500 font-medium" %></h2>
      <% if library.description.present? %>
        <p class="text-sm text-gray-600 mt-1"><%= truncate(library.description, length: 100) %></p>
      <% end %>
    </div>
    <div>Created <%= time_ago_in_words(library.created_at) %> ago</div>
    <div class="w-1/4">
      <%= link_to library.documents.count.to_s + " documents", library_documents_path(library.id), class:"text-sky-500 hover:underline" %>
    </div>
  </div>
</div>
