<% content_for :title, @library.name %>
<div class="mx-auto">
  <%= render partial: 'shared/breadcrumb', locals: { breadcrumbs: [['Home', root_path], ['Libraries',libraries_path],[@library.name, library_path(@library)]] } %>
  <div class="flex justify-between items-center">
    <h1 class="text-3xl font-semibold text-stone-900"><%= @library.name %></h1>
    <div class="flex space-x-2">
      <% buttons = {
        'Permissions' => library_library_users_path(@library)
      } %>
      <% if policy(@library).edit? %>
        <% buttons['Edit'] = edit_library_path(@library) %>
        <% buttons['New Document'] = new_document_path(library_id: @library.id) %>
      <% end %>
      <%= render partial: 'shared/button_group', locals: { buttons: buttons } %>
    </div>
  </div>
  <div class="py-2 text-stone-500 text-xs ">
    Owner <span class="text-stone-500 font-bold "><%= (@library.user.email) %> </span> |
    Created <span class="text-stone-500 font-bold  "><%= time_ago_in_words(@library.created_at) %> ago</span> |
    Updated <span class="text-stone-500 font-bold  "><%= time_ago_in_words(@library.updated_at) %> ago</span>
    <% if @library.source_url.present? %>
      <div class="text-xs mt-2">
        Source: <%= link_to @library.source_url, @library.source_url, class: "text-sky-500" %>
      </div>
    <% end %>
  </div>
  <ul class="flex bg-white my-3 rounded-lg border text-sky-700 font-bold">
    <li class="w-1/4 p-3 m-2 border-r-2 border-stone-300 text-center">
      <label class="font-light text-xs text-stone-500">Documents</label>
      <p class="text-2xl"><%= @library.documents.empty? ? "None" : @library.documents.count %> </p>
    </li>
    <li class="w-1/4 p-3 m-2 border-r-2 border-stone-300 text-center">
      <label class="font-light text-xs text-stone-500">Average Token Count</label>
      <p class="text-2xl"><%= @library.documents.empty? ? "None" : @library.documents.average(:token_count).round %> </p>
    </li>
    <li class="w-1/4 p-3 m-2 border-r-2 border-stone-300 text-center">
      <label class="font-light text-xs text-stone-500">Disabled Docs</label>
      <p class="text-2xl"><%= @library.documents.empty? ? "None" : @library.documents.where.not(enabled: true).count %> </p>
    </li>
    <li class="w-1/4 p-3 m-2  border-stone-300 text-center">
      <label class="font-light  text-xs text-stone-500">Docs without Embedding</label>
      <p class="text-2xl"> <%= @library.documents.empty? ? "None" : @library.documents.where(embedding: nil).count %> </p>
    </li>
  </ul>
  <h2 class="text-xl text-stone-600 py-4">Recent Documents</h2>
  <%= render 'shared/doc_list', docs: @library.documents.order(created_at: :desc).first(5) %>
  <div class="my-2">
    <%= link_to "View all " + @library.documents.count.to_s + " documents", library_documents_path(@library.id), class:"text-sky-500 hover:underline" %>
  </div>
</div>
