<%= form_with(model: webhook, class: "contents") do |form| %>
  <% if webhook.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(webhook.errors.count, "error") %> prohibited this webhook from being saved:</h2>
      <ul>
        <% webhook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :assistant_id, "Select Assistant" %>
    <%= form.collection_select :assistant_id, Assistant.all.order(name: :asc), :id, :name, { prompt: "Choose an assistant" }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="my-5">
    <%= form.label :hook_type, "Webhook Type" %>
    <%= form.select :hook_type, Webhook.hook_types.keys.map { |t| [t.humanize, t] }, { prompt: "Select Webhook Type" }, { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
  </div>

  <div class="inline">
    <%= form.submit "Save", class: "rounded-lg py-3 px-5 bg-sky-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
