<div id="<%= dom_id webhook %>" class="w-full p-6 bg-white shadow rounded-md border border-gray-300">
  <p class="my-5">
    <strong class="block font-medium text-gray-600 mb-1">Secret Key:</strong>
    <span class="block text-gray-800 px-3 py-2 bg-gray-100 rounded-md text-2xl">
      <%= webhook.secret_key %>
    </span>
  </p>
  <p class="my-5">
    <strong class="block font-medium text-gray-600 mb-1">Assistant:</strong>
    <span class="text-2xl">
      <%= link_to webhook.assistant.name, assistant_path(webhook.assistant), class: 'text-sky-500 hover:text-sky-400' %>
    </span>
  </p>
  <p class="my-5">
    <strong class="block font-medium text-gray-600 mb-1">Library:</strong>
    <span class="text-2xl">
      <%= link_to webhook.library.name, library_path(webhook.library), class: 'text-sky-500 hover:text-sky-400' %>
    </span>
  </p>
  <p class="my-5">
    <strong class="block font-medium text-gray-600 mb-1">Type:</strong>
    <span class="text-2xl">
      <%= webhook.hook_type %>
    </span>
  </p>
</div>
