<div class="w-full">
  <% content_for :title, "Webhooks" %>
  <div class="flex justify-between items-center mb-4">
    <%= render 'shared/page_header', title: 'Webhooks', subtitle: 'Easy integrations' %>
    <%= render partial: 'shared/button_group', locals: { buttons: { "New Webhook" => new_webhook_path } } %>
  </div>
  <div id="webhooks" class="w-full bg-white shadow rounded-lg">
    <% @webhooks.each do |webhook| %>
      <%= link_to webhook, class: "block px-3 py-2 border-b last:border-b-0 hover:bg-blue-50 text-gray-700 font-medium" do %>
        <div class="flex justify-between items-center">
          <div>
            <span><%= webhook.name %></span>
            <span class="block text-xs text-gray-500">Type: <%= webhook.hook_type %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
