<div class="w-full">
  <% content_for :title, "Chats" %>
  <div class="flex justify-between items-center mb-4">
    <%= render 'shared/page_header', title: 'Chats', subtitle: 'Discussion with assistants' %>
    <%= render partial: 'shared/button_group', locals: { buttons: { "New" => assistants_path } } %>
  </div>
  <div class="flex justify-between items-center mb-4">
    <%= paginate @chats, class: "flex-1" %>
    <% if params[:all].present? %>
      <%= link_to "Show My Chats", chats_path, class: "rounded-lg py-2 px-4 bg-white text-sky-500 block font-medium ml-4 hover:bg-gray-100 border border-stone-200" %>
    <% else %>
      <%= link_to "Show All Chats", chats_path(all: 1), class: "rounded-lg py-2 px-4 bg-white text-sky-500 block font-medium hover:bg-gray-100 border border-stone-200" %>
    <% end %>
  </div>
  <div id="chats" class="min-w-full mt-5 space-y-4">
    <% @chats.each do |chat| %>
      <%= render 'chat_list_item', chat: chat %>
    <% end %>
  </div>
</div>
