<div class="mx-auto w-full flex flex-col min-h-screen" id="chat-container">
  <!-- Breadcrumbs -->
  <nav class="mb-4">
    <ul class="flex space-x-2 text-gray-600">
      <li>
        <%= link_to "Assistants", assistants_path, class: "text-sky-500 hover:text-sky-800" %>
      </li>
      <li>/</li>
      <li>
        <%= link_to @chat.assistant.name, assistant_path(@chat.assistant), class: "text-sky-500 hover:text-sky-800" %>
      </li>
    </ul>
  </nav>
  <!-- Main Content -->
  <div class="w-full flex justify-between items-center">
    <div>
      <h1 class="text-2xl text-stone-500">
        <%= link_to (@chat.first_message ? @chat.first_message.truncate(100) : "Chat"), @chat %>
      </h1>
    </div>
    <div>
      <%= button_to @chat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500 hover:text-red-800 flex items-center' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      <% end %>
    </div>
  </div>
  <!-- Messages -->
  <turbo-frame id="messages-<%=@chat.id%>" src="<%= chat_messages_path(@chat) %>"></turbo-frame>
  <!-- Input Form Fixed at Bottom -->
  <div class="w-full fixed bottom-0 left-0 bg-white p-4 border-t border-gray-300">
    <%= form_with(model: [@chat, Message.new], remote: true, class: 'flex space-x-2') do |f| %>
      <%= f.text_field :content, class: 'flex-grow p-2 border border-gray-300 rounded-lg' %>
      <button type="submit" class="flex items-center justify-center space-x-2 rounded-lg py-2 px-4 bg-sky-600 text-white font-medium">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
        </svg>
        <span>Send</span>
      </button>
    <% end %>
  </div>
  <!-- JavaScript to start the whole page scrolled to the bottom and refresh messages -->
  <script>
    function scrollToBottom() {
      const turboFrame = document.getElementById('messages-list');
      if (turboFrame) {
        window.scrollTo(0, turboFrame.scrollHeight);
      }
    }

    document.addEventListener("turbo:frame-load", scrollToBottom); // Trigger on Turbo page load

    document.addEventListener("turbo:frame-load", function(event) {
      if (event.target.id === "messages-<%= @chat.id %>") {
        console.log("Turbo Frame loaded, reattaching event listeners");

        // Reattach the submit event listener
        document.querySelector('form.flex').addEventListener('submit', function(event) {
          setTimeout(function() {
            const turboFrame = document.getElementById('messages-<%= @chat.id %>');
            turboFrame.src = null;  // Clear the src attribute
            turboFrame.src = `<%= chat_messages_path(@chat) %>`;  // Set the new src to reload the frame
            console.log(turboFrame.src);
          }, 6000);  // Delay of 6000 milliseconds (6 seconds)
        });
      }
    });

  </script>
</div>
