<div class="mx-auto  w-full flex">
  <div class="">
    <%= link_to "Chats", chats_path, class: "bg-gray-100 inline-block font-medium" %>
    <%= render @chat %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this chat", @chat, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
<%= render partial: 'messages/message', collection: @chat.messages %>
<div class="mx-auto  w-full flex mt-10">
  <div class="">
    <%= form_with(model: [@chat, Message.new], local: true) do |f| %>
      <%= f.text_area :content, class: 'w-full p-2 border border-gray-300 rounded-lg mb-4' %>
      <%= f.submit 'Send to Assistant', class: 'rounded-lg py-3 px-5 bg-blue-500 text-white font-medium' %>
    <% end %>
  </div>
</div>