<div class="flex justify-between items-center">
  <h1 class="text-3xl font-semibold <%= @document.enabled ? 'text-stone-900' : 'text-gray-500' %>"><%= document.title %></h1>
  <div class="flex space-x-2">
    <% if policy(@document).edit? %>
      <div class="text-gray-700">
        <div class="flex items-center">
          <%= render partial: 'shared/button_group', locals: { buttons: { "Edit" => edit_document_path } } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="<%= dom_id document %>" class="border bg-stone-200 rounded-lg shadow-lg mt-3">
  <div class="text-sm text-stone-700">
    <div class="flex justify-between items-center py-2 pl-4 bg-stone-200 rounded-t-lg">
      <div class="w-full">
        <p class="text-xs ">
          <%= render partial: 'shared/meta_info', locals: { email: document.user.email, created_at: document.created_at, updated_at: document.updated_at } %>
          <%= "| Synced #{time_ago_in_words(document.synced_at)} ago" if document.synced_at.present? %>
        </p>
        <% if document.url %>
          <div class="flex items-center space-x-1 text-xs mt-2">
            <span class="">URL:</span>
            <%= link_to document.url, document.url, class:"text-sky-500 hover:underline", target:"_source" %>
          </div>
        <% end %>
        <% if document.source_url %>
          <div class="flex items-center space-x-3 text-xs mt-2">
            <span class="">Source:</span>
            <%= link_to document.source_url, document.source_url, class:" hover:underline", target:"_source" %>
            <% if document.source_type == 'quip' %>
              <%= image_tag 'quip_logo.png', alt: 'Quip Logo', class: 'h-6' %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 <%= "text-green-600" if document.last_sync_result == "SUCCESS" %> <%= "text-red-600" if document.last_sync_result == "FAILED" %>">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <!-- Flag Button on the right side -->
      <div class="flex items-center mx-4">
        <% flag_count = @document.votes_for.where(vote_scope: 'flag', vote_flag: false).count %>
        <% if current_user.voted_down_on?(@document, vote_scope: 'flag') %>
          <a href="<%= document_path(@document, unflag: 1) %>" title="Document will be disabled if 2 or more people flag it" class="flex items-center px-8 py-1 text-sm bg-red-100 text-red-800 border border-red-300 rounded hover:bg-red-200 transition-colors min-w-36 whitespace-nowrap">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-1"><path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0 2.77-.693a9 9 0 0 1 6.208.682l.108.054a9 9 0 0 0 6.086.71l3.114-.732a48.524 48.524 0 0 1-.005-10.499l-3.11.732a9 9 0 0 1-6.085-.711l-.108-.054a9 9 0 0 0-6.208-.682L3 4.5M3 15V4.5" /></svg><%="Flagged (#{flag_count})" %>
          </a>
        <% else %>
          <a href="<%= document_path(@document, flag: 1) %>" title="Document will be disabled if 2 or more people flag it" class="flex items-center px-8 py-1 text-sm bg-gray-100 text-gray-700 border border-gray-300 rounded hover:bg-gray-200 transition-colors min-w-36 whitespace-nowrap">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-1"><path stroke-linecap="round" stroke-linejoin="round" d="M3 3v1.5M3 21v-6m0 0 2.77-.693a9 9 0 0 1 6.208.682l.108.054a9 9 0 0 0 6.086.71l3.114-.732a48.524 48.524 0 0 1-.005-10.499l-3.11.732a9 9 0 0 1-6.085-.711l-.108-.054a9 9 0 0 0-6.208-.682L3 4.5M3 15V4.5" /></svg><%="Flag (#{flag_count})" %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="px-4 py-6 text-gray-800 bg-white font-normal">
    <% cache document do %>
      <%= render partial: 'shared/markdown', locals: {text: document.document } %>
    <% end %>
  </div>
  <div class="text-xs px-4 py-3 text-gray-400 bg-gray-900 rounded-b-lg">
    <p class="text-gray-500">Info for nerds:</p>
    <p class=""><%= document.token_count %> Tokens | <%= document.embedding.present? ? "Embedding Ready" : "Embedding Missing"%> | External id <%= document.external_id.present? ? document.external_id : " not provided"%> | <%= document.enabled ? "Enabled" : "Disabled" %></p>
  </div>
</div>
<% if session[:debug] == "true" then %>
  <h1 class="text-2xl font-semibold py-4 text-gray-600">Embedding</h1>
  <div class="markdown-content leading-6">
    <div class="break-words font-mono p-5 border border-blue-500 rounded-b-lg bg-gray-300">
      <%= document.embedding unless document.embedding.nil? %>
    </div>
  </div>
<% end %>
