<%= form_with(model: document, class: "contents") do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 my-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :enabled, style: "display: block" %>
    <%= form.check_box :enabled, class: "block shadow rounded-md border border-gray-200 outline-none my-2" %>
  </div>
  <div class="my-5">
    <%= form.label :source_url, "Source URL. Quip URLs will be synced daily.", class: "block text-gray-700 font-medium" %>
    <%= form.text_field :source_url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 my-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :document, "Body.  Can be blank if Quip Source URL provided.", style: "display: block" %>
    <%= form.text_area :document, rows: 10, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 my-2 w-full" %>
  </div>
  <div class="my-5">
    <%= render 'shared/typeahead', 
        form: form, 
        field_name: :library_id, 
        search_url: libraries_path,
        label_text: 'Library',
        placeholder: 'Start typing to search for a library...',
        help_text: 'Type at least 2 characters to search for libraries by name',
        current_value: document.library&.name,
        param_name: 'contains' %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-sky-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
