<% content_for :title, "Documents" %>
<div class="">
  <div class="flex justify-between items-center">
    <%= render 'shared/page_header', title: 'Documents', subtitle: 'Curated content to enable AI answers.' %>
    <%= render partial: 'shared/button_group', locals: { buttons: { "New" => new_document_path } } %>
  </div>
  <div class="text-sm text-stone-400">
    <% if params[:library_id] %>
      From <%= link_to @library.name, @library, class:"text-sky-500" %>
    <% end %>
  </div>
  <!-- Search Form -->
  <div class="flex-grow flex items-center mt-3">
    <% action_path = @library.present? ? library_documents_path(@library) : documents_path %>
    <%= form_with(url: action_path, method: :get, local: true, class: "w-full flex") do %>
      <input type="text" name="contains" id="contains" placeholder="Search documents..." class="flex-grow rounded-lg p-2 border border-stone-300">
      <button type="submit" class="ml-2 rounded-lg p-2 bg-white text-sky-500 border-sky-500 border">Search</button>
    <% end %>
  </div>
  <div class="flex-grow flex items-center mt-3">
    <% if params[:sort].nil? %>
      <%= link_to 'Sort by Popularity', 
            request.original_url.include?('?') ? 
                "#{request.original_url}&sort=questions" : 
                "#{request.original_url}?sort=questions", 
            class: 'rounded-lg p-2 bg-white text-sky-500 border-sky-500 border hover:bg-sky-50' %>
    <% else %>
      <%= link_to 'Sort by Date', request.path, class: 'rounded-lg p-2 bg-white text-sky-500 border-sky-500 border hover:bg-sky-50' %>
    <% end %>
  </div>
  <%= paginate @documents %>
  <%= render 'shared/doc_list', docs: @documents %>
</div>
