<% content_for :title, "Documents" %>
<p style="color: green"><%= notice %></p>
<div class="">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-3xl text-sky-800">Documents</h1>
    <% if current_user.admin? %>
      <%= link_to 'New', new_document_path, class: "rounded-lg p-2 bg-sky-600 text-white block font-light" %>
    <% end %>
  </div>
  <div class="text-sm text-stone-400">
    <% if params[:library_id] %>
      From <%= link_to @library.name, @library, class:"text-sky-500" %>
    <% end %>
  </div>
  <!-- Search Form -->
  <div class="flex-grow flex items-center mt-3">
    <% action_path = @library.present? ? library_documents_path(@library) : documents_path %>

    <%= form_with(url: action_path, method: :get, local: true, class: "w-full flex") do %>
      <input type="text" name="contains" id="contains" placeholder="Search documents..." class="flex-grow rounded-lg p-2 border border-stone-300">
      <button type="submit" class="ml-2 rounded-lg p-2 bg-white text-sky-500 border-sky-500 border">Search</button>
    <% end %>
  </div>
  <%= paginate @documents %>
  <ul class="space-y-4">
    <% @documents.each do |document| %>
      <li class="bg-white p-4 rounded shadow group">
        <details class="text-base">
          <summary class="text-md cursor-pointer  <%= 'text-red-500' if document.embedding.nil? || document.token_count.nil? %>">
            <span><%= document.title %> (<%= document.library.name %>)</span>
            <span class="text-stone-400 text-xs ml-2"><%= time_ago_in_words(document.created_at) %> ago</span>
            <a href="<%= url_for(document) %>" class="text-sky-500 ml-4 hover:text-sky-600 hidden group-hover:inline">
              View
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
              </svg>
            </a>
          </summary>
          <div class="bg-stone-100 p-2 rounded-lg mt-2">
            <% cache document do %>
              <%= render_markdown(document.document.gsub(/^\s*\n/, '')) if document.document %>
            <% end %>
          </div>
        </details>
      </li>
    <% end %>
  </ul>
</div>
