<% content_for :title, @document.title %>

<%= render partial: 'shared/breadcrumb', locals: { breadcrumbs: [['Home', root_path], [@document.library.name, library_path(@document.library)], ["Document", document_path(@document)]] } %>

<%= render @document %>

<h2 class="text-2xl text-stone-500 mt-5">Related Questions (<%= [@related_questions.count, 5].min %> of <%= @document.questions_count %>)
</h2>
<%= render 'shared/question_list', questions: @related_questions %>

<h2 class="text-2xl text-stone-500 mt-5">Related Documents
</h2>
<%= render 'shared/doc_list', docs: @related_docs %>
